[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotfiles-private"]
	path = dotfiles-private
	url = git@github.com:Uszczi/dotfiles-private.git
